.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  justify-self: end;
  margin-left: auto;
  border: 0;
}

@media screen and (max-width: 500px) {
  .popup__close-button {
    top: -50px;
    right: 0px;
  }
}